# LaTeX stuff
build/
*.aux
*.log
*.fdb_latexmk
*.fls
*.gz
_minted-build/

# Emacs junk
auto/
ltxpng/

# Python stuff
*.py[cod]

# Temps
*.*~
*.bak

# Sublime
*.sublime-project
*.sublime-workspace


*.pdf
